@charset "utf-8";

body{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	width: 100%;
	background-color: dimgrey;
	margin-left: auto;
}
.head{
    color: aliceblue;
}

h1{
	text-align: center;
	font-family: "serif",Times New Roman, Times ;
	font-weight: bold;
}
.introduction{
	margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width:710px;
    text-align: justify;
}

ul {
    list-style-type: none;
    margin:auto;
    margin-bottom:10px;
    padding: 10px;
    overflow: hidden;
    width:700px;
    background-color:brown;
}

li {
    float: left;
    font-size: 18px;

}

 .ahref {
    display: block;
    color: white;
    text-align: center;
    padding-left:15px;
    padding-right:15px;
    text-decoration: none;
}



li a:hover:not(.act) {
    background-color: #111;

}

.act {
    background-color: #111;
     color:white;
}

.mainDiv{
	text-align: center;
}

th{
	background-color:black;
	color: white;
	font-size: 30px;
	padding: 5px;
}
a{
	color: black;
}

.chessTable{
	width: 650px;
	height:650px;
	border:20px solid black;
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
}
.whiteCell, .BlackCell{
	border:3px solid black;
	width: 75px;
	height:75px;
}

.whiteCell{
	background-color: cornsilk;
}

.BlackCell{
	background-color: brown;
}


div.content101, div.content22, div.content33, div.content44, div.content55, div.content66, div.content77, div.content88, div.content9,div.content99{
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 75px;
  height:75px;
}
div.content101{
	animation-delay:1s;
}
div.content22{
	animation-delay:2s;
}
div.content33{
	animation-delay:3s;
}
div.content44{
	animation-delay:5s;
}
div.content55{
	animation-delay:4s;
}
div.content66{
	animation-delay:3s;
}
div.content77{
	animation-delay:2s;
}
div.content88{
	animation-delay:1s;
}
div.content9{
	animation-delay:6s;
}
div.content99{
	animation-delay:6s;
}

div.content10, div.content11, div.content12, div.content13, div.content14, div.content15, div.content16, div.content17, div.content18,div.content181{
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 6s;
  animation-delay:10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
div.content10{
	animation-delay:1s;
}
div.content11{
	animation-delay:2s;
}
div.content12{
	animation-delay:3s;
}
div.content13{
	animation-delay:5s;
}
div.content14{
	animation-delay:4s;
}
div.content15{
	animation-delay:3s;
}
div.content16{
	animation-delay:2s;
}
div.content17{
	animation-delay:1s;
}
div.content18{
	animation-delay:6s;
}
div.content181{
	animation-delay:6s;
}

div.content1{
	content:url("pics/w5.png");
	position:relative;
	width: 75px;
	height:75px;
}
div.content2{
	content:url("pics/w4.png");
	position:relative;
	width: 75px;
	height:75px;
}
div.content3{
	content:url("pics/w3.png");
	position:relative;
	width: 75px;
	height:75px;
}
div.content4{
	content:url("pics/w1.png");
	position:relative;
	width: 75px;
	height:75px;
}
div.content5{
	content:url("pics/w2.png");
	position:relative;
	width: 75px;
	height:75px;
}
div.content6{
	content:url("pics/w3.png");
	position:relative;
	width: 75px;
	height:75px;
}
div.content7{
	content:url("pics/w4.png");
	position:relative;
	width: 75px;
	height:75px;
}
div.content8{
	content:url("pics/w5.png");
	position:relative;
	width: 75px;
	height:75px;
}

div.content91{
	content:url("pics/w6.png");
	position:relative;
	width: 75px;
	height:75px;
}
div.content9{
	content:url("pics/w6.png");
	width: 75px;
	height:75px;
}

div.content10{
	content:url("pics/b5.png");
	width: 75px;
	height:75px;
}
div.content11{
	content:url("pics/b4.png");
	width: 75px;
	height:75px;
}
div.content12{
	content:url("pics/b3.png");
	width: 75px;
	height:75px;
}
div.content13{
	content:url("pics/b1.png");
	width: 75px;
	height:75px;
}
div.content14{
	content:url("pics/b2.png");
	width: 75px;
	height:75px;
}
div.content15{
	content:url("pics/b3.png");
	width: 75px;
	height:75px;
}
div.content16{
	content:url("pics/b4.png");
	width: 75px;
	height:75px;
}
div.content17{
	content:url("pics/b5.png");
	width: 75px;
	height:75px;
}

div.content18{
	content:url("pics/b6.png");
	width: 75px;
	height:75px;
}

div.content188{
	content:url("pics/b6.png");
	position:relative;
	width: 75px;
	height:75px;
}

div.content91:hover{
    animation: content91Hover 5s 1;
    animation-delay: 1s;
}

div.content1:hover {
    animation: content1Hover 5s 1;

}

div.content2:hover {
    animation-name: content2Hover;
    animation-duration: 6s;

}

div.content188:hover{
    animation: mymove188 5s;
     animation-fill-mode: inherit;
}

div.content3:hover {
    animation-name: content3Hover;
    animation-duration: 4s;

}

div.content4:hover {
    animation-name: content4Hover;
    animation-duration: 4s;

}

div.content5:hover {
    animation-name: content5Hover;
    animation-duration: 4s;

}

div.content6:hover {
    animation-name: content6Hover;
    animation-duration: 4s;

}

div.content7:hover {
    animation-name: content2Hover;
    animation-duration: 6s;

}

div.content8:hover {
    animation: content8Hover 5s 1;
}



@keyframes content1Hover {
    0%   {left: 0px; top: 0px;}
    25%  {left: 545px; top: 0px;}
    50%  {left: 0px; top: 0px;}
    75%  {left: 0px; top: 545px;}
    100% {left: 0px; top: 0px;}
}

@keyframes content2Hover {
    0%   {left:0px; top:0px;}
    10%  {left:85px; top:0px;}
    15%  {left:85px; top:170px;}
    20%  {left:85px; top:0px;}
    25% {left:0px; top:0px;}

    30%   {left:0px; top:0px;}
    35%  {left:-85px; top:0px;}
    40%  {left:-85px; top:170px;}
    45%  {left:-85px; top:0px;}
    50% {left:0px; top:0px;}

    55%   {left:0px; top:0px;}
    60%  {left:0px; top:170px;}
    65%  {left:-85px; top:170px;}
    70%  {left:0px; top:170px;}
    75% {left:0px; top:0px;}

    80%   {left:0px; top:0px;}
    85%  {left:0px; top:170px;}
    90%  {left:85px; top:170px;}
    95%  {left:0px; top:170px;}
    100% {left:0px; top:0px;}
}


@keyframes content3Hover {

	0%  {left:0px; top:0px;}
    20%  {left:-170px; top:170px;}
    50% {left:0px; top:0px;}

    70%   {left:0px; top:0px;}
    80%  {left:395px; top:395px;}
    100% {left:0px; top:0px;}

}
@keyframes content4Hover {

	0%   {left:0px; top:0px;}
    10%  {left:-85px; top:0px;}
    20%  {left:0px; top:0px;}

    30%  {left:0px; top:0px;}
    40%  {left:85px; top:0px;}
    50%  {left:0px; top:0px;}

    60%  {left:0px; top:85px;}
    65%  {left:0px; top:0px;}

    70%  {left:-85px; top:85px;}
    80% {left:0px; top:0px;}

    90%  {left:85px; top:85px;}
    100% {left:0px; top:0px;}

}

@keyframes content5Hover {

	0%   {left:0px; top:0px;}
    10%  {left:-320px; top:0px;}
    20%  {left:0px; top:0px;}

    30%  {left:0px; top:0px;}
    40%  {left:235px; top:0px;}
    50%  {left:0px; top:0px;}

    60%  {left:0px; top:540px;}
    65%  {left:0px; top:0px;}

    70%  {left:-320px; top:320px;}
    80% {left:0px; top:0px;}

    90%  {left:235px; top:235px;}
    100% {left:0px; top:0px;}

}


@keyframes content6Hover {
	0%  {left:0px; top:0px;}
    20%  {left:-385px; top:385px;}
    50% {left:0px; top:0px;}

    70%   {left:0px; top:0px;}
    80%  {left:170px; top:170px;}
    100% {left:0px; top:0px;}
}


@keyframes content8Hover {
    0%   {left: 0px; top: 0px;}
    25%  {left: -545px; top: 0px;}
    50%  {left: 0px; top: 0px;}
    75%  {left: 0px; top: 545px;}
    100% {left: 0px; top: 0px;}
}


@keyframes content91Hover {
    0%   {left: 0px; top: 0px;}
    25%  {left: 0px; top: 170px;}
    50%  {left: 0px; top: 0px;}

    75%  {left: 0px; top: 85px;}
    100% {left: 0px; top: 0px;}
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes mymove1 {
   from {bottom: 0px;}
    to {top: 540px;}
}

@keyframes mymove188 {
    from {top: 0px;}
    to {bottom: 170px;}
}



footer{
	font-size: 10px;
	text-align: center;
}
